// colors
$clr-black: #000000;
$clr-white: #ffffff;
$clr-teal: #80b9b2;
$clr-pink: #ff00b8;
$clr-dark-pink: #a60078;
$clr-navy: #1d2226;

// font family
$ff-primary: "Monoton", cursive;
$ff-secondary: "Comfortaa", cursive;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font size (px)
$fs-800: 110;
$fs-750: 90;
$fs-725: 70;
$fs-700: 59;
$fs-650: 40;
$fs-600: 36;
$fs-550: 28;
$fs-500: 24;
$fs-400: 22;
$fs-300: 18;

// line height
$lh-200: 120;
$lh-100: 32;

// letter spacing
$ls-100: 1;

// paragraph spacing
$gap: 13px;
